openapi: 3.0.3
info:
  contact:
    email: hello@merge.dev
    name: Merge Team
    url: https://www.merge.dev/
  description: The unified API for building rich integrations with multiple HR Information
    System platforms.
  title: Merge HRIS API
  version: "1.0"
servers:
- description: Production
  url: https://api.merge.dev/api/hris/v1
- description: Sandbox
  url: https://api-sandbox.merge.dev/api/hris/v1
paths:
  /account-details:
    get:
      description: Get details for a linked account.
      operationId: account_details_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDetails'
      security:
      - tokenAuth: []
      tags:
      - account-details
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /account-token/{public_token}:
    get:
      description: Returns the account token for the end user with the provided public
        token.
      operationId: account_token_retrieve
      parameters:
      - explode: false
        in: path
        name: public_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountToken'
      security:
      - tokenAuth: []
      tags:
      - account-token
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /available-actions:
    get:
      description: Returns a list of models and actions available for an account.
      operationId: available_actions_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableActions'
      security:
      - tokenAuth: []
      tags:
      - available-actions
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /bank-info:
    get:
      description: Returns a list of `BankInfo` objects.
      operationId: bank_info_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          If provided, will only return BankInfo's with this account type. Options: ('SAVINGS', 'CHECKING')

          * `SAVINGS` - SAVINGS
          * `CHECKING` - CHECKING
        explode: true
        in: query
        name: account_type
        required: false
        schema:
          enum:
          - CHECKING
          - SAVINGS
          nullable: true
          type: string
        style: form
      - description: If provided, will only return BankInfo's with this bank name.
        explode: true
        in: query
        name: bank_name
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return bank accounts for this employee.
        examples:
          EmployeeId:
            summary: employee_id
        explode: true
        in: query
        name: employee_id
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, only objects synced by Merge after this date time
          will be returned.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, only objects synced by Merge before this date time
          will be returned.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Overrides the default ordering for this endpoint.
        explode: true
        in: query
        name: order_by
        required: false
        schema:
          enum:
          - -remote_created_at
          - remote_created_at
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: Deprecated. Use show_enum_origins.
        examples:
          OriginalEnumValuesAccountType:
            summary: Original Enum Values Account_type
            value: account_type
        explode: true
        in: query
        name: remote_fields
        required: false
        schema:
          enum:
          - account_type
          type: string
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Which fields should be returned in non-normalized form.
        examples:
          OriginalEnumValuesAccountType:
            summary: Original Enum Values Account_type
            value: account_type
        explode: true
        in: query
        name: show_enum_origins
        required: false
        schema:
          enum:
          - account_type
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedBankInfoList'
      security:
      - tokenAuth: []
      tags:
      - bank-info
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /bank-info/{id}:
    get:
      description: Returns a `BankInfo` object with the given `id`.
      operationId: bank_info_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Deprecated. Use show_enum_origins.
        examples:
          OriginalEnumValuesAccountType:
            summary: Original Enum Values Account_type
            value: account_type
        explode: true
        in: query
        name: remote_fields
        required: false
        schema:
          enum:
          - account_type
          type: string
        style: form
      - description: Which fields should be returned in non-normalized form.
        examples:
          OriginalEnumValuesAccountType:
            summary: Original Enum Values Account_type
            value: account_type
        explode: true
        in: query
        name: show_enum_origins
        required: false
        schema:
          enum:
          - account_type
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankInfo'
      security:
      - tokenAuth: []
      tags:
      - bank-info
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /benefits:
    get:
      description: Returns a list of `Benefit` objects.
      operationId: benefits_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will return the benefits associated with the employee.
        examples:
          EmployeeId:
            summary: employee_id
        explode: true
        in: query
        name: employee_id
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, only objects synced by Merge after this date time
          will be returned.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, only objects synced by Merge before this date time
          will be returned.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedBenefitList'
      security:
      - tokenAuth: []
      tags:
      - benefits
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /benefits/{id}:
    get:
      description: Returns a `Benefit` object with the given `id`.
      operationId: benefits_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Benefit'
      security:
      - tokenAuth: []
      tags:
      - benefits
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /companies:
    get:
      description: Returns a list of `Company` objects.
      operationId: companies_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, only objects synced by Merge after this date time
          will be returned.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, only objects synced by Merge before this date time
          will be returned.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCompanyList'
      security:
      - tokenAuth: []
      tags:
      - companies
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /companies/{id}:
    get:
      description: Returns a `Company` object with the given `id`.
      operationId: companies_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
      security:
      - tokenAuth: []
      tags:
      - companies
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /delete-account:
    post:
      description: Delete a linked account.
      operationId: delete_account_create
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: No response body
      security:
      - tokenAuth: []
      tags:
      - delete-account
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /employee-payroll-runs:
    get:
      description: Returns a list of `EmployeePayrollRun` objects.
      operationId: employee_payroll_runs_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return employee payroll runs for this
          employee.
        examples:
          EmployeeId:
            summary: employee_id
        explode: true
        in: query
        name: employee_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return employee payroll runs ended after
          this datetime.
        explode: true
        in: query
        name: ended_after
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: If provided, will only return employee payroll runs ended before
          this datetime.
        explode: true
        in: query
        name: ended_before
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, only objects synced by Merge after this date time
          will be returned.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, only objects synced by Merge before this date time
          will be returned.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: If provided, will only return employee payroll runs for this
          employee.
        examples:
          PayrollRunId:
            summary: payroll_run_id
        explode: true
        in: query
        name: payroll_run_id
        required: false
        schema:
          type: string
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: If provided, will only return employee payroll runs started after
          this datetime.
        explode: true
        in: query
        name: started_after
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: If provided, will only return employee payroll runs started before
          this datetime.
        explode: true
        in: query
        name: started_before
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedEmployeePayrollRunList'
      security:
      - tokenAuth: []
      tags:
      - employee-payroll-runs
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC_BETA
  /employee-payroll-runs/{id}:
    get:
      description: Returns an `EmployeePayrollRun` object with the given `id`.
      operationId: employee_payroll_runs_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeePayrollRun'
      security:
      - tokenAuth: []
      tags:
      - employee-payroll-runs
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC_BETA
  /employees:
    get:
      description: Returns a list of `Employee` objects.
      operationId: employees_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return employees for this company.
        examples:
          CompanyId:
            summary: company_id
        explode: true
        in: query
        name: company_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return employees with this display name.
        explode: true
        in: query
        name: display_full_name
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: |-
          If provided, will only return employees with this employment status.

          * `ACTIVE` - ACTIVE
          * `PENDING` - PENDING
          * `INACTIVE` - INACTIVE
        explode: true
        in: query
        name: employment_status
        required: false
        schema:
          enum:
          - ACTIVE
          - INACTIVE
          - PENDING
          nullable: true
          type: string
        style: form
      - description: If provided, will only return employees with this first name.
        explode: true
        in: query
        name: first_name
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: If provided, will only return employees matching the group ids;
          multiple groups can be separated by commas.
        explode: true
        in: query
        name: groups
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include sensitive fields (such as social security
          numbers) in the response.
        explode: true
        in: query
        name: include_sensitive_fields
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return employees with this last name.
        explode: true
        in: query
        name: last_name
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: If provided, will only return employees for this manager.
        examples:
          ManagerId:
            summary: manager_id
        explode: true
        in: query
        name: manager_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, only objects synced by Merge after this date time
          will be returned.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, only objects synced by Merge before this date time
          will be returned.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: If provided, will only return employees for this pay group
        examples:
          PayGroupId:
            summary: pay_group_id
        explode: true
        in: query
        name: pay_group_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return Employees with this personal email
        explode: true
        in: query
        name: personal_email
        required: false
        schema:
          format: email
          nullable: true
          type: string
        style: form
      - description: Deprecated. Use show_enum_origins.
        examples:
          OriginalEnumValuesEmploymentStatus,Ethnicity,Gender,MaritalStatus:
            summary: Original Enum Values Employment_status, Ethnicity, Gender, Marital_status
            value: employment_status,ethnicity,gender,marital_status
        explode: true
        in: query
        name: remote_fields
        required: false
        schema:
          enum:
          - employment_status
          - employment_status,ethnicity
          - employment_status,ethnicity,gender
          - employment_status,ethnicity,gender,marital_status
          - employment_status,ethnicity,marital_status
          - employment_status,gender
          - employment_status,gender,marital_status
          - employment_status,marital_status
          - ethnicity
          - ethnicity,gender
          - ethnicity,gender,marital_status
          - ethnicity,marital_status
          - gender
          - gender,marital_status
          - marital_status
          type: string
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Which fields should be returned in non-normalized form.
        examples:
          OriginalEnumValuesEmploymentStatus,Ethnicity,Gender,MaritalStatus:
            summary: Original Enum Values Employment_status, Ethnicity, Gender, Marital_status
            value: employment_status,ethnicity,gender,marital_status
        explode: true
        in: query
        name: show_enum_origins
        required: false
        schema:
          enum:
          - employment_status
          - employment_status,ethnicity
          - employment_status,ethnicity,gender
          - employment_status,ethnicity,gender,marital_status
          - employment_status,ethnicity,marital_status
          - employment_status,gender
          - employment_status,gender,marital_status
          - employment_status,marital_status
          - ethnicity
          - ethnicity,gender
          - ethnicity,gender,marital_status
          - ethnicity,marital_status
          - gender
          - gender,marital_status
          - marital_status
          type: string
        style: form
      - description: If provided, will only return employees that started after this
          datetime.
        explode: true
        in: query
        name: started_after
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: If provided, will only return employees that started before this
          datetime.
        explode: true
        in: query
        name: started_before
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: If provided, will only return employees for this team.
        examples:
          TeamId:
            summary: team_id
        explode: true
        in: query
        name: team_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return employees that were terminated
          after this datetime.
        explode: true
        in: query
        name: terminated_after
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: If provided, will only return employees that were terminated
          before this datetime.
        explode: true
        in: query
        name: terminated_before
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: If provided, will only return Employees with this work email
        explode: true
        in: query
        name: work_email
        required: false
        schema:
          format: email
          nullable: true
          type: string
        style: form
      - description: If provided, will only return employees for this location.
        examples:
          WorkLocationId:
            summary: work_location_id
        explode: true
        in: query
        name: work_location_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedEmployeeList'
      security:
      - tokenAuth: []
      tags:
      - employees
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
    post:
      description: Creates an `Employee` object with the given values.
      operationId: employees_create
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: Whether to include debug fields (such as log file links) in the
          response.
        explode: true
        in: query
        name: is_debug_mode
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether or not third-party updates should be run asynchronously.
        explode: true
        in: query
        name: run_async
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeEndpointRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EmployeeEndpointRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EmployeeEndpointRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeResponse'
      security:
      - tokenAuth: []
      tags:
      - employees
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC_BETA
  /employees/{id}:
    get:
      description: Returns an `Employee` object with the given `id`.
      operationId: employees_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include sensitive fields (such as social security
          numbers) in the response.
        explode: true
        in: query
        name: include_sensitive_fields
        required: false
        schema:
          type: boolean
        style: form
      - description: Deprecated. Use show_enum_origins.
        examples:
          OriginalEnumValuesEmploymentStatus,Ethnicity,Gender,MaritalStatus:
            summary: Original Enum Values Employment_status, Ethnicity, Gender, Marital_status
            value: employment_status,ethnicity,gender,marital_status
        explode: true
        in: query
        name: remote_fields
        required: false
        schema:
          enum:
          - employment_status
          - employment_status,ethnicity
          - employment_status,ethnicity,gender
          - employment_status,ethnicity,gender,marital_status
          - employment_status,ethnicity,marital_status
          - employment_status,gender
          - employment_status,gender,marital_status
          - employment_status,marital_status
          - ethnicity
          - ethnicity,gender
          - ethnicity,gender,marital_status
          - ethnicity,marital_status
          - gender
          - gender,marital_status
          - marital_status
          type: string
        style: form
      - description: Which fields should be returned in non-normalized form.
        examples:
          OriginalEnumValuesEmploymentStatus,Ethnicity,Gender,MaritalStatus:
            summary: Original Enum Values Employment_status, Ethnicity, Gender, Marital_status
            value: employment_status,ethnicity,gender,marital_status
        explode: true
        in: query
        name: show_enum_origins
        required: false
        schema:
          enum:
          - employment_status
          - employment_status,ethnicity
          - employment_status,ethnicity,gender
          - employment_status,ethnicity,gender,marital_status
          - employment_status,ethnicity,marital_status
          - employment_status,gender
          - employment_status,gender,marital_status
          - employment_status,marital_status
          - ethnicity
          - ethnicity,gender
          - ethnicity,gender,marital_status
          - ethnicity,marital_status
          - gender
          - gender,marital_status
          - marital_status
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employee'
      security:
      - tokenAuth: []
      tags:
      - employees
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /employees/ignore/{model_id}:
    post:
      description: Ignores a specific row based on the `model_id` in the url. These
        records will have their properties set to null, and will not be updated in
        future syncs. The "reason" and "message" fields in the request body will be
        stored for audit purposes.
      operationId: employees_ignore_create
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: model_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IgnoreCommonModelRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/IgnoreCommonModelRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/IgnoreCommonModelRequest'
        required: true
      responses:
        "200":
          description: No response body
      security:
      - tokenAuth: []
      tags:
      - employees
      x-extra-tags:
      - ignore-model
  /employees/meta/post:
    get:
      description: Returns metadata for `Employee` POSTs.
      operationId: employees_meta_post_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaResponse'
      security:
      - tokenAuth: []
      tags:
      - employees
      x-merge-meta-post: META_POST
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /employments:
    get:
      description: Returns a list of `Employment` objects.
      operationId: employments_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return employments for this employee.
        examples:
          EmployeeId:
            summary: employee_id
        explode: true
        in: query
        name: employee_id
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, only objects synced by Merge after this date time
          will be returned.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, only objects synced by Merge before this date time
          will be returned.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Overrides the default ordering for this endpoint.
        explode: true
        in: query
        name: order_by
        required: false
        schema:
          enum:
          - -effective_date
          - effective_date
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: Deprecated. Use show_enum_origins.
        examples:
          OriginalEnumValuesEmploymentType,FlsaStatus,PayFrequency,PayPeriod:
            summary: Original Enum Values Employment_type, Flsa_status, Pay_frequency,
              Pay_period
            value: employment_type,flsa_status,pay_frequency,pay_period
        explode: true
        in: query
        name: remote_fields
        required: false
        schema:
          enum:
          - employment_type
          - employment_type,flsa_status
          - employment_type,flsa_status,pay_frequency
          - employment_type,flsa_status,pay_frequency,pay_period
          - employment_type,flsa_status,pay_period
          - employment_type,pay_frequency
          - employment_type,pay_frequency,pay_period
          - employment_type,pay_period
          - flsa_status
          - flsa_status,pay_frequency
          - flsa_status,pay_frequency,pay_period
          - flsa_status,pay_period
          - pay_frequency
          - pay_frequency,pay_period
          - pay_period
          type: string
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Which fields should be returned in non-normalized form.
        examples:
          OriginalEnumValuesEmploymentType,FlsaStatus,PayFrequency,PayPeriod:
            summary: Original Enum Values Employment_type, Flsa_status, Pay_frequency,
              Pay_period
            value: employment_type,flsa_status,pay_frequency,pay_period
        explode: true
        in: query
        name: show_enum_origins
        required: false
        schema:
          enum:
          - employment_type
          - employment_type,flsa_status
          - employment_type,flsa_status,pay_frequency
          - employment_type,flsa_status,pay_frequency,pay_period
          - employment_type,flsa_status,pay_period
          - employment_type,pay_frequency
          - employment_type,pay_frequency,pay_period
          - employment_type,pay_period
          - flsa_status
          - flsa_status,pay_frequency
          - flsa_status,pay_frequency,pay_period
          - flsa_status,pay_period
          - pay_frequency
          - pay_frequency,pay_period
          - pay_period
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedEmploymentList'
      security:
      - tokenAuth: []
      tags:
      - employments
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /employments/{id}:
    get:
      description: Returns an `Employment` object with the given `id`.
      operationId: employments_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Deprecated. Use show_enum_origins.
        examples:
          OriginalEnumValuesEmploymentType,FlsaStatus,PayFrequency,PayPeriod:
            summary: Original Enum Values Employment_type, Flsa_status, Pay_frequency,
              Pay_period
            value: employment_type,flsa_status,pay_frequency,pay_period
        explode: true
        in: query
        name: remote_fields
        required: false
        schema:
          enum:
          - employment_type
          - employment_type,flsa_status
          - employment_type,flsa_status,pay_frequency
          - employment_type,flsa_status,pay_frequency,pay_period
          - employment_type,flsa_status,pay_period
          - employment_type,pay_frequency
          - employment_type,pay_frequency,pay_period
          - employment_type,pay_period
          - flsa_status
          - flsa_status,pay_frequency
          - flsa_status,pay_frequency,pay_period
          - flsa_status,pay_period
          - pay_frequency
          - pay_frequency,pay_period
          - pay_period
          type: string
        style: form
      - description: Which fields should be returned in non-normalized form.
        examples:
          OriginalEnumValuesEmploymentType,FlsaStatus,PayFrequency,PayPeriod:
            summary: Original Enum Values Employment_type, Flsa_status, Pay_frequency,
              Pay_period
            value: employment_type,flsa_status,pay_frequency,pay_period
        explode: true
        in: query
        name: show_enum_origins
        required: false
        schema:
          enum:
          - employment_type
          - employment_type,flsa_status
          - employment_type,flsa_status,pay_frequency
          - employment_type,flsa_status,pay_frequency,pay_period
          - employment_type,flsa_status,pay_period
          - employment_type,pay_frequency
          - employment_type,pay_frequency,pay_period
          - employment_type,pay_period
          - flsa_status
          - flsa_status,pay_frequency
          - flsa_status,pay_frequency,pay_period
          - flsa_status,pay_period
          - pay_frequency
          - pay_frequency,pay_period
          - pay_period
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employment'
      security:
      - tokenAuth: []
      tags:
      - employments
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /generate-key:
    post:
      description: Create a remote key.
      operationId: generate_key_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateRemoteKeyRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/GenerateRemoteKeyRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/GenerateRemoteKeyRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteKey'
      security:
      - tokenAuth: []
      tags:
      - generate-key
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /groups:
    get:
      description: Returns a list of `Group` objects.
      operationId: groups_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, only objects synced by Merge after this date time
          will be returned.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, only objects synced by Merge before this date time
          will be returned.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: Deprecated. Use show_enum_origins.
        examples:
          OriginalEnumValuesType:
            summary: Original Enum Values Type
            value: type
        explode: true
        in: query
        name: remote_fields
        required: false
        schema:
          enum:
          - type
          type: string
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Which fields should be returned in non-normalized form.
        examples:
          OriginalEnumValuesType:
            summary: Original Enum Values Type
            value: type
        explode: true
        in: query
        name: show_enum_origins
        required: false
        schema:
          enum:
          - type
          type: string
        style: form
      - description: If provided, will only return groups of these types. Multiple
          values can be separated by commas.
        explode: true
        in: query
        name: types
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedGroupList'
      security:
      - tokenAuth: []
      tags:
      - groups
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /groups/{id}:
    get:
      description: Returns a `Group` object with the given `id`.
      operationId: groups_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Deprecated. Use show_enum_origins.
        examples:
          OriginalEnumValuesType:
            summary: Original Enum Values Type
            value: type
        explode: true
        in: query
        name: remote_fields
        required: false
        schema:
          enum:
          - type
          type: string
        style: form
      - description: Which fields should be returned in non-normalized form.
        examples:
          OriginalEnumValuesType:
            summary: Original Enum Values Type
            value: type
        explode: true
        in: query
        name: show_enum_origins
        required: false
        schema:
          enum:
          - type
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
      security:
      - tokenAuth: []
      tags:
      - groups
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /issues:
    get:
      description: Gets issues.
      operationId: issues_list
      parameters:
      - explode: true
        in: query
        name: account_token
        required: false
        schema:
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: If included, will only include issues whose most recent action
          occurred before this time
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: end_user_organization_name
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return issues whose first incident time
          was after this datetime.
        explode: true
        in: query
        name: first_incident_time_after
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: If provided, will only return issues whose first incident time
          was before this datetime.
        explode: true
        in: query
        name: first_incident_time_before
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: If True, will include muted issues
        explode: true
        in: query
        name: include_muted
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: integration_name
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return issues whose last incident time
          was after this datetime.
        explode: true
        in: query
        name: last_incident_time_after
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: If provided, will only return issues whose last incident time
          was before this datetime.
        explode: true
        in: query
        name: last_incident_time_before
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: If included, will only include issues whose most recent action
          occurred after this time
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Status of the issue. Options: ('ONGOING', 'RESOLVED')

          * `ONGOING` - ONGOING
          * `RESOLVED` - RESOLVED
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - ONGOING
          - RESOLVED
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedIssueList'
      security:
      - tokenAuth: []
      tags:
      - issues
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /issues/{id}:
    get:
      description: Get a specific issue.
      operationId: issues_retrieve
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Issue'
      security:
      - tokenAuth: []
      tags:
      - issues
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /link-token:
    post:
      description: Creates a link token to be used when linking a new end user.
      operationId: link_token_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndUserDetailsRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EndUserDetailsRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EndUserDetailsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkToken'
      security:
      - tokenAuth: []
      tags:
      - link-token
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /linked-accounts:
    get:
      description: List linked accounts for your organization.
      operationId: linked_accounts_list
      parameters:
      - description: |-
          Options: ('hris', 'ats', 'accounting', 'ticketing', 'crm', 'mktg', 'filestorage')

          * `hris` - hris
          * `ats` - ats
          * `accounting` - accounting
          * `ticketing` - ticketing
          * `crm` - crm
          * `mktg` - mktg
          * `filestorage` - filestorage
        explode: true
        in: query
        name: category
        required: false
        schema:
          enum:
          - accounting
          - ats
          - crm
          - filestorage
          - hris
          - mktg
          - ticketing
          nullable: true
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return linked accounts associated with
          the given email address.
        explode: true
        in: query
        name: end_user_email_address
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return linked accounts associated with
          the given organization name.
        explode: true
        in: query
        name: end_user_organization_name
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return linked accounts associated with
          the given origin ID.
        explode: true
        in: query
        name: end_user_origin_id
        required: false
        schema:
          type: string
        style: form
      - description: Comma-separated list of EndUser origin IDs, making it possible
          to specify multiple EndUsers at once.
        explode: true
        in: query
        name: end_user_origin_ids
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: Comma-separated list of LinkedAccount IDs, making it possible
          to specify multiple LinkedAccounts at once.
        explode: true
        in: query
        name: ids
        required: false
        schema:
          type: string
        style: form
      - description: If `true`, will include complete production duplicates of the
          account specified by the `id` query parameter in the response. `id` must
          be for a complete production linked account.
        explode: true
        in: query
        name: include_duplicates
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return linked accounts associated with
          the given integration name.
        explode: true
        in: query
        name: integration_name
        required: false
        schema:
          type: string
        style: form
      - description: If included, will only include test linked accounts. If not included,
          will only include non-test linked accounts.
        explode: true
        in: query
        name: is_test_account
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: 'Filter by status. Options: `COMPLETE`, `INCOMPLETE`, `RELINK_NEEDED`'
        explode: true
        in: query
        name: status
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAccountDetailsAndActionsList'
      security:
      - tokenAuth: []
      tags:
      - linked-accounts
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /locations:
    get:
      description: Returns a list of `Location` objects.
      operationId: locations_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, only objects synced by Merge after this date time
          will be returned.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, only objects synced by Merge before this date time
          will be returned.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: Deprecated. Use show_enum_origins.
        examples:
          OriginalEnumValuesLocationType:
            summary: Original Enum Values Location_type
            value: location_type
        explode: true
        in: query
        name: remote_fields
        required: false
        schema:
          enum:
          - location_type
          type: string
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Which fields should be returned in non-normalized form.
        examples:
          OriginalEnumValuesLocationType:
            summary: Original Enum Values Location_type
            value: location_type
        explode: true
        in: query
        name: show_enum_origins
        required: false
        schema:
          enum:
          - location_type
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedLocationList'
      security:
      - tokenAuth: []
      tags:
      - locations
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /locations/{id}:
    get:
      description: Returns a `Location` object with the given `id`.
      operationId: locations_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Deprecated. Use show_enum_origins.
        examples:
          OriginalEnumValuesLocationType:
            summary: Original Enum Values Location_type
            value: location_type
        explode: true
        in: query
        name: remote_fields
        required: false
        schema:
          enum:
          - location_type
          type: string
        style: form
      - description: Which fields should be returned in non-normalized form.
        examples:
          OriginalEnumValuesLocationType:
            summary: Original Enum Values Location_type
            value: location_type
        explode: true
        in: query
        name: show_enum_origins
        required: false
        schema:
          enum:
          - location_type
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
      security:
      - tokenAuth: []
      tags:
      - locations
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /passthrough:
    post:
      description: Pull data from an endpoint not currently supported by Merge.
      operationId: passthrough_create
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataPassthroughRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DataPassthroughRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/DataPassthroughRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteResponse'
      security:
      - tokenAuth: []
      tags:
      - passthrough
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /pay-groups:
    get:
      description: Returns a list of `PayGroup` objects.
      operationId: pay_groups_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, only objects synced by Merge after this date time
          will be returned.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, only objects synced by Merge before this date time
          will be returned.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPayGroupList'
      security:
      - tokenAuth: []
      tags:
      - pay-groups
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /pay-groups/{id}:
    get:
      description: Returns a `PayGroup` object with the given `id`.
      operationId: pay_groups_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayGroup'
      security:
      - tokenAuth: []
      tags:
      - pay-groups
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /payroll-runs:
    get:
      description: Returns a list of `PayrollRun` objects.
      operationId: payroll_runs_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return payroll runs ended after this datetime.
        explode: true
        in: query
        name: ended_after
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: If provided, will only return payroll runs ended before this
          datetime.
        explode: true
        in: query
        name: ended_before
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, only objects synced by Merge after this date time
          will be returned.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, only objects synced by Merge before this date time
          will be returned.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: Deprecated. Use show_enum_origins.
        examples:
          OriginalEnumValuesRunState,RunType:
            summary: Original Enum Values Run_state, Run_type
            value: run_state,run_type
        explode: true
        in: query
        name: remote_fields
        required: false
        schema:
          enum:
          - run_state
          - run_state,run_type
          - run_type
          type: string
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: |-
          If provided, will only return PayrollRun's with this status. Options: ('REGULAR', 'OFF_CYCLE', 'CORRECTION', 'TERMINATION', 'SIGN_ON_BONUS')

          * `REGULAR` - REGULAR
          * `OFF_CYCLE` - OFF_CYCLE
          * `CORRECTION` - CORRECTION
          * `TERMINATION` - TERMINATION
          * `SIGN_ON_BONUS` - SIGN_ON_BONUS
        explode: true
        in: query
        name: run_type
        required: false
        schema:
          enum:
          - CORRECTION
          - OFF_CYCLE
          - REGULAR
          - SIGN_ON_BONUS
          - TERMINATION
          nullable: true
          type: string
        style: form
      - description: Which fields should be returned in non-normalized form.
        examples:
          OriginalEnumValuesRunState,RunType:
            summary: Original Enum Values Run_state, Run_type
            value: run_state,run_type
        explode: true
        in: query
        name: show_enum_origins
        required: false
        schema:
          enum:
          - run_state
          - run_state,run_type
          - run_type
          type: string
        style: form
      - description: If provided, will only return payroll runs started after this
          datetime.
        explode: true
        in: query
        name: started_after
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: If provided, will only return payroll runs started before this
          datetime.
        explode: true
        in: query
        name: started_before
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPayrollRunList'
      security:
      - tokenAuth: []
      tags:
      - payroll-runs
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC_BETA
  /payroll-runs/{id}:
    get:
      description: Returns a `PayrollRun` object with the given `id`.
      operationId: payroll_runs_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Deprecated. Use show_enum_origins.
        examples:
          OriginalEnumValuesRunState,RunType:
            summary: Original Enum Values Run_state, Run_type
            value: run_state,run_type
        explode: true
        in: query
        name: remote_fields
        required: false
        schema:
          enum:
          - run_state
          - run_state,run_type
          - run_type
          type: string
        style: form
      - description: Which fields should be returned in non-normalized form.
        examples:
          OriginalEnumValuesRunState,RunType:
            summary: Original Enum Values Run_state, Run_type
            value: run_state,run_type
        explode: true
        in: query
        name: show_enum_origins
        required: false
        schema:
          enum:
          - run_state
          - run_state,run_type
          - run_type
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayrollRun'
      security:
      - tokenAuth: []
      tags:
      - payroll-runs
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC_BETA
  /regenerate-key:
    post:
      description: Exchange remote keys.
      operationId: regenerate_key_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoteKeyForRegenerationRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RemoteKeyForRegenerationRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RemoteKeyForRegenerationRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteKey'
      security:
      - tokenAuth: []
      tags:
      - regenerate-key
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /selective-sync/configurations:
    get:
      description: Get a linked account's selective syncs.
      operationId: selective_sync_configurations_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                StartDateConditionExample:
                  summary: Employees that started on or after January 1st, 2022
                  value:
                  - linked_account_conditions:
                    - condition_schema_id: 123e4567-e89b-12d3-a456-426655440000
                      common_model: hris.Employee
                      native_name: Started At
                      field_name: start_date
                      operator: GREATER_THAN_OR_EQUAL
                      value: 2022-01-01T00:00:00Z
              schema:
                items:
                  $ref: '#/components/schemas/LinkedAccountSelectiveSyncConfiguration'
                type: array
      security:
      - tokenAuth: []
      tags:
      - selective-sync
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
    put:
      description: Replace a linked account's selective syncs.
      operationId: selective_sync_configurations_update
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              StartDateConditionRequestExample:
                summary: Employees that started on or after January 1st, 2022
                value:
                  linked_account_conditons:
                  - condition_schema_id: 123e4567-e89b-12d3-a456-426655440000
                    operator: GREATER_THAN_OR_EQUAL
                    value: 2022-01-01T00:00:00Z
            schema:
              $ref: '#/components/schemas/LinkedAccountSelectiveSyncConfigurationListRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                StartDateConditionExample:
                  summary: Employees that started on or after January 1st, 2022
                  value:
                  - linked_account_conditions:
                    - condition_schema_id: 123e4567-e89b-12d3-a456-426655440000
                      common_model: hris.Employee
                      native_name: Started At
                      field_name: start_date
                      operator: GREATER_THAN_OR_EQUAL
                      value: 2022-01-01T00:00:00Z
              schema:
                items:
                  $ref: '#/components/schemas/LinkedAccountSelectiveSyncConfiguration'
                type: array
      security:
      - tokenAuth: []
      tags:
      - selective-sync
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /selective-sync/meta:
    get:
      description: Get metadata for the conditions available to a linked account.
      operationId: selective_sync_meta_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: common_model
        required: false
        schema:
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                PaginatedConditionSchemaListExample:
                  summary: Employees that started on or after January 1st, 2022
                  value:
                    next: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
                    previous: cj1sZXdwd2VycWVtY29zZnNkc2NzUWxNMEUxTXk0ME16UXpNallsTWtJ
                    results:
                    - id: 123e4567-e89b-12d3-a456-426655440000
                      common_model: hris.Employee
                      native_name: Started At
                      field_name: start_date
                      is_unique: true
                      condition_type: DATE_TIME
                      operators:
                      - operator: GREATER_THAN_OR_EQUAL
                        is_unique: true
                      - operator: LESS_THAN_OR_EQUAL
                        is_unique: true
              schema:
                $ref: '#/components/schemas/PaginatedConditionSchemaList'
      security:
      - tokenAuth: []
      tags:
      - selective-sync
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /sync-status:
    get:
      description: 'Get syncing status. Possible values: `DISABLED`, `DONE`, `FAILED`,
        `PARTIALLY_SYNCED`, `PAUSED`, `SYNCING`'
      operationId: sync_status_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSyncStatusList'
      security:
      - tokenAuth: []
      tags:
      - sync-status
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /sync-status/resync:
    post:
      description: Force re-sync of all models. This is available for all organizations
        via the dashboard. Force re-sync is also available programmatically via API
        for monthly, quarterly, and highest sync frequency customers on the Core,
        Professional, or Enterprise plans. Doing so will consume a sync credit for
        the relevant linked account.
      operationId: sync_status_resync_create
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SyncStatus'
                type: array
      security:
      - tokenAuth: []
      tags:
      - force-resync
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /teams:
    get:
      description: Returns a list of `Team` objects.
      operationId: teams_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, only objects synced by Merge after this date time
          will be returned.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, only objects synced by Merge before this date time
          will be returned.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: If provided, will only return teams with this parent team.
        examples:
          ParentTeamId:
            summary: parent_team_id
        explode: true
        in: query
        name: parent_team_id
        required: false
        schema:
          type: string
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTeamList'
      security:
      - tokenAuth: []
      tags:
      - teams
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /teams/{id}:
    get:
      description: Returns a `Team` object with the given `id`.
      operationId: teams_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
[...]
